<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' type='text/css' href='../styles/master.css'/>
	<title>Login</title>
</head>

<body>
	<h1>Welcome to Næbo</h1>
	<h3>Fixing neighborhoods one issue at a time</h3>
	<p>
		Introducing the app that is here to make your neighborhood a better place for all. <br />See a pothole? A leak? Smelly garbage?<br />
	Use our location services to report an issue in a specific location. Users can log in to the app and see issues in their surrounding area. Issues can get voted on and the most pressing issues will be brought to the attention of the city council.</p>
	<br>

	<div class="button-container">
		<a href='./new-issue.html'><button type="button" class="submit">
			Report Issue
		</button></a>
	</div>

	<h3>View Issues In Your Area Now:</h3>

	<div href="map.html">
		Map goes here
	</div>

</body>

</html>
