<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' type='text/css' href='../styles/master.css' />
	<title>Login</title>
</head>

<body>
	NEW ISSUE PAGE
	<form class="form" id="issueform">
		<div class="issue-type">
			<!-- <label class="label" for="issue-input">Type</label> -->
			<br>
			<select id="issue" name="issue" required>
				<option value="undefined">Select Issue Type</option>
				<option value="pothole">Pothole</option>
				<option value="flooding">Flooding</option>
				<option value="sidewalk">Obstructed Sidewalk</option>
				<option value="litter">Litter</option>
			</select>
		</div>
		<div class="Location">
			<input type="text" class="text-field" id="location" name="location" placeholder="Address" required>
			<!-- <label class="label" for="location">Address</label> -->
		</div>
		<br>
		<div class="Description">
			<!-- <label class="label" for="location">Description</label> -->
			<textarea type="textarea" class="text-area" id="description" name="description" max-length "300" placeholder="Description"
			 required>
			</textarea>
		</div>
		<br>
		<div class="button-container">
			<button type="button" class="cancel">
				Cancel
			</button>
			<button class="submit">
				Submit
			</button>
		</div>
	</form>
</body>

</html>