<!DOCTYPE html>
<html lang="en">
<html class='use-all-space'>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' type='text/css' href='/css/master.css' />
	<title>New Issue</title>
	<link rel='stylesheet' type='text/css' href='../sdk/map.css' />
	<link rel='stylesheet' type='text/css' href='/css/elements.css' />
	<script type='text/javascript' src='/scripts/form.js'></script>
	<script type='text/javascript' src='../sdk/tomtom.min.js'></script>
	<style>
		.icon-locate_me_btn {
			cursor: pointer;
			width: 34px;
			height: 34px;
		}
	</style>
</head>

<body class='use-all-space'>
	NEW ISSUE PAGE
	<form class="form" id="issueform">
		<div class="issue-type">
			<input type="text" class="" id="issue-type" name="type" required>
			<br>
			<select id="issue" name="issue" required>
				<option value="undefined">Select Issue Type</option>
				<option value="pothole">Pothole</option>
				<option value="flooding">Flooding</option>
				<option value="sidewalk">Obstructed Sidewalk</option>
				<option value="litter">Litter</option>
			</select>
		</div>
		<div class="Location">
			<input type="text" class="text-field" id="location" name="location" placeholder="Address" required>
		</div>
		<br>
		<div class="Description">
			<textarea type="textarea" class="text-area" id="description" name="description" max-length "300" placeholder="Description"
			 required>
 			</textarea>
		</div>
		<br>
		<div class="button-container">
			<button type="button" class="cancel">
				Cancel
			</button>
			<button class="submit">
				Submit
			</button>
		</div>
	</form>
	<div id='map' class='use-all-space'></div>
	<script>
		// Define your product name and version
		tomtom.setProductInfo('JAAM', '4.29.0');
		tomtom.searchKey('p47tlEh7zt7GHP3ZfnMFG6gEbj1Xxhfd');
		// Creating map
		var map = tomtom.L.map('map', {
			center: [40.7282083, -73.9577655],
			zoom: 12,
			key: "H897MbupgR1ORMradXr9YYNsdw9ajA7X",
			source: 'raster',
			basePath: '../sdk'
		});

		// Creating Find Location widget
		var latitude, longitude;
		var FindLocationControl = tomtom.L.Control.extend({
			onAdd: function (map) {
				var container = L.DomUtil.create('div', 'leaflet-control'),
					btn = L.DomUtil.create('div', 'icon-locate_me_btn', container);
				btn.role = 'button';
				btn.title = 'Click me to locate you';
				btn.onclick = function () {
					map.locate({ setView: true, maxZoom: 15 });
				};
				map.on('locationfound', this.displayMarker, this);
				map.on('locationerror', this.showLocationErrorMessage, this);
				return container;
			},
			onRemove: function (map) {
				map.off('locationfound', this.displayMarker, this);
				console.log('map', map)
				map.off('locationerror', this.showLocationErrorMessage, this);
			},
			displayMarker: function (evt) {
				console.log('evt: ', evt)
				latitude = evt.latitude;
				longitude = evt.longitude;
				console.log('lat:', latitude, 'long:', longitude)
				if (this._marker) {
					this._marker.setLatLng(evt.latlng);
					this._marker.addEventListener
					//console.log('latlng: ', latlng)
					return;
				}
				this._marker = L.marker(evt.latlng, {

					title: 'Your current location',
					icon: L.svgIcon({
						background: {
							icon: 'icon-locate_me_btn',
							iconSize: [30, 30],
							iconAnchor: [15, 15]
						},
						icon: null,
						opacity: 1
					})
				}).addTo(this._map);
			},
			showLocationErrorMessage: function () {
				tomtom.messageBox({ closeAfter: 3000 })
					.setContent('Could not find your location')
					.openOn(this._map);
			}
		});

		marker = tomtom.L.marker([40.7282083, -73.9577655], {
			draggable: true
		}).bindPopup('').addTo(map);
		// Show popup each time the marker is moved
		marker.on('dragend', function (e) {
			console.log('e', e)
			tomtom.reverseGeocode({ position: e.target.getLatLng() })
				.go(function (response) {
					if (response && response.address && response.address.freeformAddress) {
						marker.setPopupContent(response.address.freeformAddress + ` Report new issue`);
					} else {
						marker.setPopupContent('No results found');
					}
					marker.openPopup();
				});
		});


		map.addControl(new FindLocationControl());
	</script>
</body>

</html>